streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-chroma
chromadb
sentence-transformers
beautifulsoup4
requests
python-dotenv
pypdf
tiktoken