langchain==0.3.7
langchain-text-splitters==0.3.2
langchain-google-genai==2.0.5
langchain-community==0.3.5
langchain-chroma==0.1.4
chromadb==0.5.20
beautifulsoup4==4.12.3
requests==2.32.3
streamlit==1.40.1
python-dotenv==1.0.1
